.footer {
    height: 300px;
    margin-top: 160px;
    background-color: white;
    position: relative;
}
.footerContainer {
    /* background-color: red; */
    width: 96%;
    margin: auto;
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
}
.footerContainer hr {
    width: 32%;
    height: 1.3px;
    border: none;
    background-color: black;
}
.logoFooter {
    width: 40%;
    margin: auto;
    /* background-color: red; */
    position: absolute;
    top: -6%;
    left: 30%;
    text-align: center;
    font-size: 40px;
}
.footerMain {
    display: flex;
    padding-top: 80px;
}
.footerMain div {
    width: 33.33%;
    text-align: center;
    /* border: 1px solid red; */
}
.footer ul {
    list-style: none;
}
.footer ul li {
    font-size: 19px;
    line-height: 32px;
    cursor: pointer;
}
.footerIcons {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background-color: red; */
}
.footerIcons i {
    font-size: 34px;
    cursor: pointer;
}
.footerIcons hr {
    width: 100px;
    height: 1px;
    background-color: black;
    border: none;
    margin-top: 110px;
    /* left: 50%; */
    /* top: 50%; */
    left: 41%;
    transform: translateY(-50%);
    /* transform: translateX(-50%); */
    /* padding-top: 200px; */
    position: absolute;
    transform: rotate(90deg);
}
.footerBottom {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 30px;
}