.products-content {
    width: 90%;
    margin: auto;
    /* margin-top: 40px; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
    /* justify-items: flex-start; */
    /* justify-items: first baseline; */
    justify-items: self-start;
    border: 1px solid rgba(128, 128, 128, 0.116);
    /* box-shadow: rgba(17, 17, 26, 0.186) 0px 1px 0px, rgba(17, 17, 26, 0.225) 0px 0px 8px; */
    padding-bottom: 140px;
}
.cart .products-content {
    margin-top: 120px;
}
.favorites .products-content {
    margin-top: 120px;
}
.product {
    width: 280px;
    height: 360px;
    margin: 30px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    /* padding: 50px; */
    text-align: center;
    /* padding: 30px 0; */
    /* background-color: red; */
    /* padding: 40px; */
    /* margin: auto; */
}
.product img{
    width: 65%;
    width: 200px;
    height: 200px;
    /* background-color: red; */
    object-fit: contain;
    margin-top: 5%;
    /* text-align: center; */
    /* margin-left: 10%; */
    /* margin-left: 5%; */
}
.product .products-buttons {
    width: 66%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    top: 55%;
    z-index: 45;
    overflow: hidden;
}
.btn-product{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 0.1cm;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 20%;
    z-index: 10;
    color: black;
}
.more {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.797);
    color: white;
    width: 80px !important;
    position: static !important;
    /* margin-left: 66%; */
}
.products-buttons a{
    color: white !important;
}
.more a {
    color: white;
}
.add-favorite{
    position: absolute;
    left: -30%; 
    top: 3%;
}
.add-basket{
    position: absolute;
    right: -30%;
    top: 3%;
}
@keyframes buttons1 {
    from{left: -30%;}
    to{left: 5%;}
}
@keyframes buttons2 {
    from{right: -30%;}
    to{right: 5%;}
}
.product:hover .add-basket{
    animation-name: buttons2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.product:hover .add-favorite{
    animation-name: buttons1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.product-hover{
    width: 100%;
    height: 100%;
    position: absolute;
}
.product:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* border: 1px solid red; */
    /* background-color: red; */
    /* box-shadow: rgba(142, 142, 180, 0.186) 0px 1px 0px, rgba(49, 49, 172, 0.225) 0px 0px 8px; */
    /* background-color: rgba(180, 180, 180, 0.404); */
    transition: .5s;
}
.product:hover .name-price h1{
    /* color: white; */
    transition: .5s;
}

.name-price {
    /* width: 100%; */
    margin: 10px auto;
    height: 30%;
    /* margin-top: 20%; */
    /* top: 30px; */
    /* background-color: red !important; */
    /* border: 1px solid red; */
    padding: 0px 20px;
    text-align: left;
    /* text-align: center; */
}
.nameContainer {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}
.priceContainer {
    width: 100%;
    height: 40%;
    padding: 0 5px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceContain {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
.name-price h1{
    font-size: 20px;
    /* margin-top: 60px; */
    /* position: absolute; */
    font-weight: 600;
}
.name-price .product-price{
    font-size: 18px;
    /* bottom: 4%; */
    font-weight: 400;
}

.h1 {
    width: 80%;
    margin: auto;
    font-size: 25px;
}
.add-new {
    width: 40%;
    height: 200px;
    margin: auto;
}
.add-new input {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    margin-left: 10%;
}
.add-new .btn {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 35%;
}

