.categories {
    width: 95%;
    height: 240px;
    margin: 20px auto 0px;
}
.categories ul {
    width: 100%;
}
.categories .cat-common {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.categories li{
    /* background-color: red; */
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.cat-common li{
    width: 13% !important;
    font-size: 20px;
}
.alt-cat {
    margin-top: 20px;
    display: none;
    background-color: white;
    position: relative;
    z-index: 50;
    animation-name: categories-anim;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    box-shadow: rgba(94, 34, 19, 0.193) 0px 60px 40px -7px;
}
@keyframes categories-anim {
    from{top: 30%; opacity: 0.2;}
    to{top: 0%;opacity: 1;}
}
.cat-common li:hover .alt-cat{
    display: block;
}
.alt-cat li{
    width: 100% !important;
    height: 42px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
}
.alt-cat li a{
    font-size: 18px !important;
}
.alt-cat li:hover a{
    color: white !important;
    transition: 0.3s;
}
.alt-cat li:hover {
    padding-left: 10px;
    transition: 0.3s;
    background-color: black;
    border-radius: 0.1cm;
    color: white;
}
.categories .img-cat{
    width: 85%;
    height: 150px;
    transition: 1s;
    margin: auto;
} 
.all img{
    width: 95% !important;
}
.keyboard img{
    width: 62% !important;
    padding-top: 12px;
}
.guitar img{
    width: 63% !important;
}
.nefes img{
    width: 85% !important;
    padding-top: 23px;
}
.zerb img{
    width: 82% !important;
    padding-top: 16px;
}
.xalq img{
    width: 45% !important;
}
.alt-cat li a{
    color: black !important;
}
.search-inp {
    width: 170px;
    height: 30px;
    border-style: none none solid none;
    font-size: 18px;
    position: absolute;
    right: 6%;
    z-index: 49;
    top: 42%;
    border-color: black;
}
.search-inp:focus {
    outline: none;
}
.search-inp::placeholder {
    color: black;
}


