.menu {
    width: 7%;
    /* background-color: red; */
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 50 !important;
    transition: 1s;
}
nav:hover {
    width: 20%;
}
.menu:hover .blackKeysClosed {
    display: none;
}
.menu:hover .blackKeysOpened{
    width: 100%;
    display: block;
}
/* nav:hover + .common{
    width: 80% !important;
    margin-left: 20%;
} */
nav:hover .white{
    display: block;
}
.pianoMenuHover {
    width: 100%;
    height: 100vh;
    /* margin-top: 4vh; */
    position: relative;
}
.pianoMenuHover .white {
    width: 100%;
    height: 100%;
    display: none;
}
.pianoMenuHover .whiteLi {
    width: 100%;
    height: 10%;
    /* height: 84px; */
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
.blackKeys {
    width: 72%;
    height: 100%;
    /* position: relative; */
    /* background-color: rgba(255, 0, 0, 0.052); */
    position: absolute;
    /* top: 5%; */
    /* top: 52px; */
    /* top: 172px; */
}
.black {
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}
.doMi2 {
    top: 10%;
    cursor:none;
    cursor: text;
}
.faSi1 {
    top: 30%;
}
.faSi2 {
    top: 40%;
}
.faSi3 {
    top: 50%;
}
.doMi3 {
    top: 70%;
}
.doMi4 {
    top: 80%;
}
.blackKeysClosed .doMi2 .profileContainer{
    padding-left: 10px;
}
.blackKeys li{
    width: 100%;
    height: 60px;
    /* height: 63px; */
    background-color: black;
    /* margin-bottom: 23px; */
    font-size: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.blackKeysClosed .black li a{
    padding-left: 0;
    /* padding-left: 20px; */
    justify-content: center;
}
.blackKeysOpened .black li a{
    padding-left: 20px;
    justify-content: left;
}

.blackKeys li i{
    font-size: 20px;
    margin-right: 8px;
}
.doMi i{
    font-size: 29px !important;
}
.blackKeys li:hover{
    box-shadow: rgb(15, 8, 8) 0px 20px 30px -10px;
}
.blackKeys li:active{
    margin-left: 4px;
}
.menu a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    /* font-family: 'Dancing Script', cursive; */
}
.logo {
    /* width: 100%; */
    /* height: 120px; */
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    /* padding: 50px 30px; */
    color: white;
}
.logo h1 {
    font-size: 30px;
}
.basketLi{
    position: relative;
}
.count {
    width: 18px;
    height: 18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60%;
    right: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 50%;
    background-color: white;
}
.countCart {
    font-size: 14px;
    /* top: -30%;
    left: 65%; */
    color: black;
}
.profileContainer {
    width: 100%;
    /* position: absolute; */
    /* bottom: 10px; */
    /* width: 60%; */
    /* left: 45%; */
    /* transform: translateX(-50%); */
    /* height: 40px; */
}
.loginBtn {
    /* width: 100px; */
    /* width: 100px; */
    /* background-color: black; */
    color: white;
}
.loginBtn2 {
    position: absolute;
    /* bottom: 10px; */
    width: 60%;
    width: 60px;
    left: 45%;
    transform: translateX(-50%);
    /* width: 100px; */
    height: 40px;
    background-color: black;
    color: white;
}