.sectionFirst {
    width: 105%;
    left: -5%;
    position: relative;
    height: 100vh;
    /* top: 100px; */
    overflow: hidden;
}
.sectionFirst img {
    position: absolute;
    filter: drop-shadow(5px 12px 2px rgba(0, 0, 0, 0.397));
    /* animation-fill-mode: forwards; */
    animation-duration: 2s;
}
.imgKamancha {
    width: 25%;
    left: 39%;
    top: -10%;
    z-index: 8;   
}
@keyframes imgKamancha {
    from{width: 25%; left: 39%; top: -10%;}
    to{width: 37%; left: 24%; top: -90%;}
}

.imgViolin {
    width: 14%;
    left: 55%;
    top: 1%;
    z-index: 5;
    transform: rotate(27deg);
}
@keyframes imgViolin {
    from{width: 14%; left: 55%; top: 1%; transform: rotate(27deg);}
    to{width: 28%; left: 86%; top: -40%; transform: rotate(10deg);}
}
.imgTar {
    width: 21%;
    top: 6%;
    left: 29%;
    z-index: 9;
    transform: rotate(-75deg);
}
@keyframes imgTar {
    from{width: 21%; left: 29%; top: 6%; filter: none;}
    to{width: 34%; left: -5%; top: -39%; filter: blur(1px);}
}
.imgGuitar {
    width: 31%;
    top: 35%;
    left: 14%;
    transform: rotate(-160deg);
    z-index: 4;
}
@keyframes imgGuitar {
    from{width: 31%; left: 14%; top: 35%;}
    to{width: 65%; left: -37%; top: 23%;}
}
.imgSaxophone {
    width: 24%;
    top: 20%;
    left: 51%;
    transform: rotate(64deg);
    z-index: 9;
}
@keyframes imgSaxophone {
    from{width: 24%; left: 51%; top: 20%; filter: none; transform: rotate(64deg);}
    to{width: 30%; left: 60%; top: -20%; filter: blur(1.6px); transform: rotate(34deg);}
}
.imgPiano {
    width: 24%;
    left: 53%;
    top: 46%;
    transform: rotate(35deg);
}
@keyframes imgPiano {
    from{width: 24%; left: 53%; top: 46%; transform: rotate(35deg);}
    to{width: 37%; left: 83%; top: 49%; transform: rotate(10deg);}
}
.imgDrum {
    width: 37%;
    top: 38%;
    left: 33%;
    z-index: 8;
}
@keyframes imgDrum {
    from{width: 37%; left: 33%; top: 38%;}
    to{width: 50%; left: 38%; top: 100%;}
}
.imgCornet {
    width: 12%;
    top: 60%;
    left: 34%;
    transform: rotate(-20deg);
    z-index: 11;
}
@keyframes imgCornet {
    from{width: 12%; left: 34%; top: 60%; filter: none; z-index: 11;}
    to{width: 20%; left: -6%; top: 75%; filter: blur(1.5px); z-index: 2;}
}
.word {
    width: 36%;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 29%;
    text-align: center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.word h1{
    font-size: 50px;
    font-family: 'Signika Negative', sans-serif;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* @keyframes word {
    from{top: 45%; left: 29%; opacity: 0;}
    to{top: 36%; left: 32%; opacity: 1;}
}
@keyframes word-h1 {
    from{font-size: 50px; opacity: 0;}
    to{font-size: 60px; opacity: 1;}
} */